task/crash.log
task/terraform.tfstate*
task/terraform.tfvars
task/keys/*
task/.*
task/*.log
task/.terraform/plugins/linux_amd64/lock.json
task/.terraform/plugins/linux_amd64/terraform-provider-aws_v1.5.0_x4
task/.terraform/plugins/linux_amd64/terraform-provider-docker_v0.1.1_x4

task_modules/crash.log
task_modules/terraform.tfstate*
task_modules/terraform.tfvars
task_modules/keys/*
task_modules/.*
task_modules/*.log
task_modules/.terraform/plugins/linux_amd64/lock.json
task_modules/.terraform/plugins/linux_amd64/terraform-provider-aws_v1.5.0_x4
task_modules/.terraform/plugins/linux_amd64/terraform-provider-docker_v0.1.1_x4

chef/crash.log
chef/terraform.tfstate*
chef/terraform.tfvars
chef/keys/*
chef/.*
chef/*.log
chef/.terraform/plugins/linux_amd64/lock.json
chef/.terraform/plugins/linux_amd64/terraform-provider-aws_v1.5.0_x4
chef/.terraform/plugins/linux_amd64/terraform-provider-docker_v0.1.1_x4

docker/crash.log
docker/terraform.tfstate*
docker/terraform.tfvars
docker/keys/*
docker/.*
docker/*.log
docker/.terraform/plugins/linux_amd64/lock.json
docker/.terraform/plugins/linux_amd64/terraform-provider-aws_v1.5.0_x4
docker/.terraform/plugins/linux_amd64/terraform-provider-docker_v0.1.1_x4

jenkins/crash.log
jenkins/terraform.tfstate*
jenkins/terraform.tfvars
jenkins/keys/*
jenkins/.*
jenkins/*.log
jenkins/.terraform/plugins/linux_amd64/lock.json
jenkins/.terraform/plugins/linux_amd64/terraform-provider-aws_v1.5.0_x4
jenkins/.terraform/plugins/linux_amd64/terraform-provider-docker_v0.1.1_x4